<div class="nested-fields row">
  <div class = "col-sm-2">
    <%= f.label :amount %>
    <%= f.number_field :amount, :step => 'any', :class => 'form-control' %>
  </div>
  <div class = "col-sm-2">
    <%= f.label :unit_type %>
    <%= f.text_field :unit_type, :class => 'form-control' %>
  </div>
    <div class = "col-sm-5">
      <% f.object.build_ingredient unless f.object.ingredient %>
      <%= f.fields_for :ingredient do |ff| %>
          <%= ff.label :name %>
          <%= ff.text_field :name, :class => 'form-control' %>
      <% end %>
    </div>
  <div class = "col-sm-2">
    <%= link_to_remove_association "Remove Ingredient", f %>
  </div>
</div>